{% assign posts = paginator.posts %}

{%- if posts.size > 0 -%}
{%- if page.list_title -%}
<h2 class="post-list-heading">{{ page.list_title }}</h2>
{%- endif -%}
<ul style="list-style: none;">
  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  {%- for post in paginator.posts -%}
  <li class="p-3">
    {%- assign date_format = site.minimal.date_format | default: "%b %-d, %Y" -%}
    <a href="{{ post.url | relative_url }}">
      <h3>
        {{ post.title | escape }}
      </h3>
    </a>
    <div class="post">
      {{ post.description }}
    </div>

  </li>
  {%- endfor -%}
</ul>

{%- include pagination.html -%}


{%- endif -%}